@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap");
@import "remixicon/fonts/remixicon.css";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
aside::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
aside {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tab {
    @apply inline-block p-4 border-b-2 rounded-t-lg;
}

.tab-active {
    @apply text-accent-color border-accent-color;
}

.tab-inactive {
    @apply hover:text-text-primary-color hover:border-gray-300 border-transparent;
}

.dd-closed {
    @apply hidden;
}

.card-text-inactive {
    @apply text-inactive-color;
}

.card-text-active {
    @apply text-text-primary-color;
}

.breadcrumbs-inactive {
    @apply text-2xl  text-inactive-color capitalize;
}

.breadcrumbs-active {
    @apply text-2xl  text-text-primary-color capitalize;
}

.page-title {
    @apply text-2xl font-medium text-text-primary-color capitalize;
}

.box-dashboard {
    @apply bg-secondary-color p-8 rounded-xl mt-9 border border-border-color;
}

.card-dashboard {
    @apply bg-secondary-color border grid grid-cols-1 gap-3 border-border-color p-3 rounded-xl mt-2 overflow-x-auto;
}

.input-container {
    @apply grid grid-cols-2 gap-8 mb-8;
}

.button-primary {
    @apply text-sm py-2 px-4 rounded-md border border-accent-color !text-white bg-accent-color flex justify-center items-center;
}

.button-login {
    @apply text-base py-3 px-6 rounded-md border border-accent-color text-secondary-color bg-accent-color w-full;
}

.button-success {
    @apply flex flex-row gap-1 items-center text-sm p-2 rounded-md border border-success-color text-secondary-color bg-success-color;
}

.button-secondary {
    @apply text-sm py-2 px-4 rounded-md border border-text-secondary-color bg-secondary-color text-text-primary-color;
}

.hide {
    @apply -translate-x-full;
}

.full {
    @apply w-full !ml-0;
}

table {
    @apply w-full min-w-[940px] lg:min-w-fit table-auto whitespace-nowrap;
}

.disabled {
    @apply text-text-secondary-color brightness-95;
}

aside,
main,
nav {
    @apply duration-700 ease-in-out;
}

/* Table */
.thead-cell {
    @apply px-4 py-2 bg-primary-color text-left text-sm font-medium text-text-primary-color;
}

.table-cell {
    @apply py-5 px-4 bg-secondary-color text-sm text-text-primary-color;
}

table {
    @apply rounded-t-xl;
}

tr:nth-child(even) {
    @apply brightness-110;
}
tr:nth-child(odd) {
    @apply brightness-[.98];
}

table thead td:first-child {
    @apply rounded-l-lg;
}
table thead td:last-child {
    @apply rounded-r-lg;
}

.crud-subtitle {
    @apply text-base font-medium text-text-primary-color mb-5;
}

/* Chosen */
.input-box,
.chosen-container {
    @apply text-text-primary-color bg-secondary-color  placeholder-inactive-color border-2 border-border-color text-sm rounded-lg focus:ring-accent-color outline-accent-color focus:border-accent-color block w-full p-2.5 disabled:text-text-secondary-color disabled:brightness-95;
}

.chosen-single {
    @apply !border-none !bg-none !appearance-none !p-0 !shadow-none !h-fit;
}

.chosen-container-single .chosen-single div {
    display: none !important;
}

/* dashboard */

.dashboard-title-small {
    @apply font-medium text-text-secondary-color;
}

.dashboard-title-medium {
    @apply font-semibold text-text-secondary-color text-xl;
}

.small-info {
    @apply flex flex-col  gap-2;
}

.label-text {
    @apply text-sm  text-inactive-color font-normal text-left;
}

.badge {
    @apply bg-accent-color bg-opacity-15 text-accent-color p-1.5 rounded-md;
}

#reader {
    width: 600px;
}
#result {
    text-align: center;
    font-size: 1.5rem;
}

.big-title {
    @apply text-6xl font-semibold capitalize text-text-primary-color text-left lg:text-center xl:text-5xl xl:leading-snug;
}

.medium-title {
    @apply font-poppins text-base text-text-primary-color md:text-[22px];
}

.small-title {
    @apply text-3xl font-medium;
}

.text {
    @apply font-poppins text-text-primary-color;
}

.text-small {
    @apply text-sm font-poppins text-text-primary-color;
}

/* Landing Page */

.section-container {
    @apply mx-auto max-w-[85%] py-14 lg:py-20 2xl:max-w-screen-desktop;
}

header {
    @apply fixed left-1/2 z-50 w-full -translate-x-1/2 bg-primary-color border-b border-border-color/20;
}

.navbar {
    @apply flex w-full flex-row items-center justify-between py-5;
}

.navbar a {
    @apply text-text-primary-color hover:font-semibold hover:text-accent-color;
}

.nav-link-container {
    @apply hidden flex-row gap-10 lg:flex;
}

.button-container {
    @apply flex flex-row items-center gap-3;
}

.navbar-button-primary {
    @apply rounded-md bg-accent-color px-4 py-2 font-medium text-white hover:brightness-150;
}

.nav-mobile {
    @apply fixed right-0 top-0 h-screen w-[60%] bg-third-color duration-1000 ease-in-out md:w-[40%];
}

.nav-mobile ul {
    @apply flex h-full flex-col items-start justify-center gap-3 px-5 text-xl text-text-primary-color;
}

.nav-mobile ul li {
    @apply transition-all hover:translate-x-1;
}

.nav-hidden {
    @apply translate-x-full;
}

.section-header {
    @apply flex flex-col w-full items-start md:items-center;
}

.section-name {
    @apply text-base text-accent-color lg:text-lg;
}

.section-title {
    @apply text-2xl font-semibold text-text-primary-color md:text-3xl lg:text-3xl xl:leading-[1.3] 2xl:text-[42px];
}

.section-title-accent {
    @apply text-accent-color;
}

.section-text {
    @apply font-poppins font-medium text-text-primary-color;
}

.lomba-card {
    @apply p-3 rounded-md shadow-sm shadow-black/5;
}

/* Footer */
footer {
    @apply mt-14 flex flex-col gap-8 bg-slate-900  py-14;
}

.footer-top {
    @apply mx-auto max-w-[85%] 2xl:max-w-screen-desktop;
}

.footer-top {
    @apply grid grid-cols-1 gap-10 xl:grid-cols-10 xl:gap-0;
}

.footer-top ul li a {
    @apply line-clamp-1 text-base hover:opacity-70;
}

.footer-bottom {
    @apply flex w-full flex-col items-center gap-3 border-t border-[#A9B0BB] pt-5 lg:flex-row lg:justify-between;
}

.footer-link-container {
    @apply flex flex-col gap-5;
}

.footer-link-container ul {
    @apply flex flex-col gap-3;
}

.footer-link-title {
    @apply text-xl text-primary-color lg:text-2xl;
}
